<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-sans bg-gray-100">
    <nav
      class="text-white bg-gray-800 p-4 text-2xl font-semibold flex justify-between items-center"
    >
      FileTrans
      <img
        class="w-12 h-12"
        src="https://cdn0.iconfinder.com/data/icons/work-from-home-19/512/Cloud-storage-datatransfer-database-filetransfer-256.png"
        alt=""
      />
    </nav>

    <div class="p-4">
      <p class="text-lg text-gray-700">
        File uploaded successfully! Share this link:
        <a href="<%= link %>" target="_blank" class="text-blue-500 underline"
          ><%= link %></a
        >
      </p>
    </div>
  </body>
</html>
